#headed {
  height: 65px;
  background-color: #fbfbff;
  margin-bottom: 15px;
}

#main_page {
  display: inline-block;
  padding-top: 15px;
  padding-left: 20px;
  font-size: 1.5rem;
}

body {
  padding: 0;
  margin: 0;
  background-color: #f5f5f5;
}

#Calculatoror {
  background-color: paleturquoise;
  width: 240px;
  padding-left: 10px;
  height: 360px;
  padding-top: 15px;
  margin: 0 auto;
  border-radius: 4%;
}

.my-btn { 
  margin-right: 5px;           
  margin-top: 5px;             
  width: 50px;                 
  height: 50px;                
  border-radius: 50%;          
  border: none;                
  background: rgb(5, 55, 69);         
  color: white;                
  font-size: 1.5rem;           
  font-family: Arial, Helvetica, sans-serif; 
  cursor: pointer;             
  user-select: none;         
} 


.my-btn:hover {
  background: steelblue; 
}


.my-btn:active {
  filter: brightness(130%); 
  height:47px;
  width: 47px;
  margin-right: 8px;
}

.my-btn.primary { 
  background: #fb9702; 
}
.my-btn.primary:hover {
  background-color: rgb(255, 173, 0);
}

.my-btn.secondary { 
  background: cadetblue;
}

.my-btn.secondary:hover {
  background: #3b8aa0;
}

.my-btn.execute { 
  width: 110px;          
  border-radius: 34px;   
}

.result { 
  width: 220px;
  height: 50px;
  margin-bottom: 15px;         
  padding-right: 10px;         
  background: rgb(73, 73, 73); 
  text-align: right;           
  color: #f5f5f5;          
  font-size: 2.75rem;
  font-family: Arial, Helvetica, sans-serif;
}